html, body {
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Add styles to the form container */
form {
    margin-left: 3%;
    max-width: 330px;
    padding: 10px 30px 30px 50px;
    background-color: #d7edf2;
    opacity: 1;
    border-radius: 15px 0 0 0;
    margin-top: 2%;
    border-top-left-radius:2em;
    border-bottom-left-radius:2em;
    height: 650px;
    display: flex;
    flex-direction: column;
  }

.container{
  margin-left: 3%;
  max-width: 330px;
  height: 650px;
}

  img {
    text-align: center;
    opacity: 1;
    height: 160px;
    width: 180px;
    margin-top: 20%;  
  }

  .bg {
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url(B.png);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
  }

  .name{
    font-family: Space Grotesk;
    color: #083561;
    font-size: 36px;
    text-align: center;
  }

  .acc{
    font-family: Space Grotesk;
    color: #083561;
    font-size: 25px;
    margin-top: 5%;
    text-align: center;
  }

  .line {
    border-bottom: 2px solid #083561;
    margin-top: 20px;
    width: 85%;
    text-align: center;
}

  .display{
    font-family: Space Grotesk;
    color: #083561;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
  }

  .logout{
    font-family: Space Grotesk;
    color: #083561;
    font-size: 25px;
    cursor: pointer;
    margin-top: 40%;
    margin-left: 58%;
    text-align: center;
  }